[submodule "Leetcode_Typescript"]
	path = Leetcode_Typescript
	url = https://github.com/ArMonarch/Leetcode_Typescript
[submodule "Leetcode_Python"]
	path = Leetcode_Python
	url = https://github.com/ArMonarch/Leetcode_Python
[submodule "Leetcode_Rust"]
	path = Leetcode_Rust
	url = https://github.com/ArMonarch/Leetcode_Rust
[submodule "Leetcode_Zig"]
	path = Leetcode_Zig
	url = https://github.com/ArMonarch/Leetcode_Zig.git
